/* Стили для формы */
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
  }
  
  /* Стили для меток */
  .label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Стили для ввода */
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  /* Стили для кнопки "Add contact" */
  .submitBtn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .submitBtn:hover {
    background-color: #2980b9;
  }